.wrapper
  = render partial: "render/header_login"
.hierarchy
  .hierarchy__bar
    .hierarchy__bar--top
      = link_to root_path, class: 'hierarchy-top' do
        furima 
        %i.fas.fa-angle-right.fa-2x
    .hierarchy__bar--my-page
      = link_to root_path, class: 'hierarchy-top' do
        トップページ
        %i.fas.fa-angle-right.fa-2x
    .hierarchy__bar--present-location
      マイページ
      %i.fas.fa-angle-right.fa-2x
    .hierarchy__bar--my-page
      ログアウト
.contents
  .contents__sign-out
    .contents__sign-out--btn
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn-sign-out'

