.header
  = render "items/header_login"
.shipping-page
  .shipping-page__form
    .__image
      %h1 出品画像
    .__name
      %h1 商品名
    .__explanation
      %h1 商品の説明
    .__brand
      %h1 ブランド
    .__condition
      %h1 商品の状態
    .__delivery
      %h1 配送料の負担
    .__area
      %h1 配送元の地域
    .__appointed
      %h1 発送までの日数
    .__price
      %h1 販売価格
    .__btns
      %h1 出品
    .__attentions
      禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。