.header
  = render "items/header_login"
  .shipping-page
    .shipping-page_form
      ._image
        %h1 出品画像
      ._name
        %h1 商品名
      ._explanation
        %h1 商品の説明
      ._brand
        %h1 ブランド
      ._condition
        %h1 商品の状態
      ._delivery
        %h1 配送料の負担
      ._area
        %h1 配送元の地域
      ._appointed
        %h1 発送までの日数
      ._price
        %h1 販売価格
      -# ._btns
      -#      = f.submit '送信', class: 'submit-btn'  
      .attentions
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。