.item-show-page
  = render partial: "render/header"
  .login-page__menu-bar
    %nav.login-page__menu
      %ol.login-page__menu__navigations
        %li.login-page__menu__first-navigation
          %a{:href => root_path} furima >
        %li.login-page__menu__second-navigation
          %a{:href => root_path} トップページ >
        %li.login-page__menu__third-navigation 商品詳細ページ
  .item-show-page__background
    .item-show-page__form
      .item-show-page__item-name__box
        %h2.item-show-page__item-name 商品名
      .item-show-page__image-box
        .item-show-page__main-image-box 
        .item-show-page__sub-image-box 
          .item-show-page__sub-image1
          .item-show-page__sub-image2
          .item-show-page__sub-image3
          .item-show-page__sub-image4
          .item-show-page__sub-image5
        .item-show-page__sub-image-box2 
          .item-show-page__sub-image6
          .item-show-page__sub-image7
          .item-show-page__sub-image8
          .item-show-page__sub-image9
          .item-show-page__sub-image10
      .item-show-page__price-box
        %h2.item-show-page__price 18000円
        %p.item-show-page__tax (税込) 送料込み
      .item-show-page__link-btn
        = link_to "#", class: "item-show-page__link" do
          購入画面へ進む

