.shipping-page {
  width:100%;
  height:200vh;
  display: flex;
  background-color: #F5F5F5;
  align-items: center;
  .item-container{
    background-color: white;
    height:90%;
    width: 600px;
    margin: 0 auto;
    .item-image{
      display: flex;
      p{
        font-weight: bold;
      }
      span{
        margin: 0 0 0 8px;
        background-color: #3CCACE;
        color: #ffffff;
      }
    }
    .upload{
      font-size:13px;
      padding-bottom: 50px;
      // 調整中です

    }
    .item-index{
      .field{
        &__label{
          display: flex;
          p{
            font-weight: bold;
          }
          span{
            margin: 0 0 0 8px;
            background-color: #3CCACE;
            color: #ffffff;
          }
          }
        &__input--line{
          margin-top: 10px;
            .text-form{
              width:98%;
              padding-left:10px;
            }
        }
      }
      .explanation{
        &__label{
          display: flex;
          margin-top:30px;
          p{
            font-weight: bold;
          }
          span{
            margin: 0 0 0 8px;
            background-color: #3CCACE;
            color: #ffffff;
          }
          }
        &__input--line{
            margin-top: 10px;
              .text-form{
                width:98%;
                height:140px;
                padding-left:10px;
              }
              ::placeholder{
                color:gray;
              }
          }
      }
    }
    
    .item-info{
      padding-top: 40px;
    }
    .item-field{
        display: flex;
        margin-top:30px;
        p{
          font-weight: bold;
        }
        span{
          margin: 0 0 0 8px;
          background-color: #3CCACE;
          color: #ffffff;
        }
        }

    }
    }