.shipping-page {
  
  width:100%;
  background-color: silver;
  &__form{
    margin-bottom: 10px;
    width:600px;
    background-color: white;
    font-size:20px;
    margin: 0 auto;
    height: 100vh;

  }
}