* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  text-decoration: none;
  list-style: none;
}

// 商品詳細ページの実装
.item-show-page {
  width: 100%;
  height: 100%;

  &__background {
    width: 100vw;
    height: 200vh;
    background-color: $background-white;
    @include align-items;
  }
  
  &__form {
    width: 50%;
    height: 90%;
    background-color: $white-color;
    margin: 0 auto;
  }

}