// 最終段階でのカラーコードのリファクタリング忘れないように
$main-color:       #13b1c0;
$font-black:          #333;
$white-color:         #fff;
$background-white: #f4f8fa;
$border-color:        #ccc;
$hover-color:      #ea352d;
$sign-up-color:    #ea352d;