// クレジットカード登録画面

.contents {
  height: 100vh;
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    width: 700px;
    height: 70px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3ccace;
    font-size: 20px;
    line-height: 80px;
    font-weight: bold;
    background-color: white;
  }

  @mixin require {
    width: 32px;
    height: 16px;
    line-height: 12px;
    display: flex;
    align-items: 16px;
    margin-left: 8px;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 12px;
    background-color: red;
    color: white;
  }

  &__box {
    width: 700px;
    height: 500px;
    padding-left: 180px;
    color: #3ccace;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    background-color: white;

    // カード番号
    &__input {
      display: flex;
      align-items: center;
      font-size: 16px;

      &--require { @include require }
    }

    &__span {
      display: flex;
      padding: 10px 0;

      .number {
        height: 48px;
        width: 350px;
        border-radius: 5px;
        padding: 10px 18px 8px;
        display: flex;
        justify-content: center;
        border: 1px solid #ccc;
        background-color: #fff;
        font-size: 16px;
      }
    }

    // クレジットカード画像
    &__cred-img {
      text-align: start;
      padding-left: 30px;
    }


    // 有効期限
    &__effective-date {
      display: flex;
      align-items: center;
      font-size: 16px;
      padding-top: 10px;

      &--label {}
      &--require { @include require }
    }

    // 有効期限_select-box
    &__select-date {
      display: flex;
      align-items: center;
      font-size: 16px;
      margin: 0 10px 0 10px;
      color: red;

      @mixin select-tag {
        background-color: #fff;
        width: 48px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #807c7c;
        margin-top: 10px;
        padding-left: 50px;
      }

      #exp_month { 
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      &--month {
        margin: 0px 2px 0 2px;
      }

      #exp_year { 
        border-radius: 5px;
        border: 1px solid #ccc;
      }     
      &--year { margin: 0px 2px 0 2px }
    }

    // セキュリティコード
    &__security-code {
      display: flex;
      align-items: center;
      font-size: 16px;
      padding: 10px 0;
      &--require { @include require }
    }
    &__input-code {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &--security {
        .cvc {
          height: 48px;
          width: 350px;
          border-radius: 5px;
          padding: 10px 18px 8px;
          display: flex;
          justify-content: center;
          border: 1px solid #ccc;
          background-color: #fff;
          font-size: 16px;
        }
      }
    }

    // ？とカード裏面の番号とは？
    &__question {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 10px 0;
      padding-right: 270px;

      &--q {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #3ccace;
        border-radius: 15px;
        font-size: 16px;
      }
      &--help-code {
        font-size: 16px;
        padding-left: 5px;
        color: #3ccace;
      }
    }

    // 登録するボタン
    &__regster {

      &--new {
        width: 350px;
        height: 50px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        color: white;
        border: 1px solid #ccc;
      }
      .regster {
        border: 1px solid red;
        background-color: red;
        font-size: 16px;
        color: white;
      }
    }
  }
}