* {
  text-decoration: none;
  // color: #333333;
}

.header__main {
  display: flex;
  align-items: center;
  padding: 20px 170px 0 160px;
  margin-bottom: 0 auto;
  
  &__icon {
    padding: 5px 0;
  }

  &__search {
    margin: 10px;
    width: 100%;
  }

  &__search-form {
    padding: 0 0 0 5px;
    display: flex;
  }

  &__search-input {
    width: 100%;
    height: 35px;
  }
  
  &__search-btn {
    background-color: $main-color;
    font-size: 11px;
    padding: 6px 9px;
    border-style: none;
  }
}

.header__list {
  display: flex;
  font-size: 15px;
  padding-bottom: 10px;

  &__left-items {
    display: flex;
    line-height: 30px;
    padding-left: 60px;
  }
  &__category {
    padding: 0 0 0 100px;
    cursor: pointer;
    &:hover {
      color: $hover-color;
    }
  }

  &__brand {
    padding-left: 35px;
    cursor: pointer;
    &:hover {
      color: $hover-color;
  }
}

  &__right-items {
    width: 200px;
    margin-right: 170px;
    display: flex;
    line-height: 30px;
  }
    
  &__my-page {
    line-height: 30px;
    cursor: pointer;
    &:hover {
      color: $hover-color;
    }
  }
}


.hierarchy {
  width: 100vw;
  height: 30px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0, 0.16);

  i { 
    font-size: 14px; 
    margin: 0 5px 0 5px;
  }

  &__bar {
    padding-left: 56px;
    width: 100vw;
    align-items: center;
    display: flex;
    padding-top: 4px;

    &--top              {}
    &--my-page          {}
    &--present-location {}
  }
}

.contents {
  width: 100vw;
  height: 100%;

  &__index {
    padding-top: 24px;
    margin: 0 auto;
    display: flex;
    justify-content: center;  

    &__left-contents {
      width: 280px;
      height: 830px;
      padding-top: 24px;
      margin-right: 100px;
      flex-direction: column;

      @mixin title {
        height: 40px;
        line-height: 15px;
        size: 15px;
        font-weight: bold;
        text-align: center;
        vertical-align: top;
        color: #333333;
        cursor: pointer;
      }

      &--my-page { @include title }

      i {
        display: flex;
        float: right;
        padding-right: 12px;
        font-size: 16px;
        line-height: 50px;
      }

      .link-tag1 { color: #4e5863; }

      @mixin my_page-column {
        width: 250px;
        height: 50px;
        line-height: 50px;
        padding-left: 10px;
        border-bottom: 1px solid #333333;
        font-size: 14px;
        cursor: pointer;
      }
        
        &--put-up            { @include my_page-column }
        &--list-product      { @include my_page-column }
        &--purchased-product { @include my_page-column }
        &--contact-us        { @include my_page-column }
        &--notice            { @include my_page-column }

      &__config {
          width: 280px;
          height: 40px;
          line-height: 50px;
          margin-top: 50px;
          color: #333333;

          &--display {
            padding: 0 10px;
            text-align: center;
            font-weight: bold;
          }

          .link-tag2 { color: #4e5863; }

          @mixin config-column {
            width: 250px;
            height: 50px;
            line-height: 50px;
            padding-left: 10px;
            border-bottom: 1px solid #333333;
            font-size: 14px;
            cursor: pointer;
          }

          &--credit-card-reg { @include config-column }
          &--rog-out         { @include config-column }
      }
    }

    &__right-contents {
      width: 700px;
      height: 100vh;
      display: flex;
      flex-direction: column;

      i {
        display: flex;
        float: right;
        padding-right: 40px;
        font-size: 20px;
        line-height: 80px;
      }

      &--user-image {
        height: 80px;
        line-height: 100px;
        padding-top: 20px;
        text-align: center;
      }

      &--user-name {
        line-height: 16x;
        padding-top: 10px;
        margin-bottom: 16px;
        text-align: center;
        color:#4e5863;
      }

      @mixin do-pur-column {
        width: 690px;
        height: 80px;
        line-height: 80px;
        padding-left: 10px;
        border-bottom: 1px solid #333333;
        font-size: 14px;
        color: #4e5863;
      }
      @mixin user-do-history {
        line-height: 70px;
        margin-top: 170px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        color: $font-black;
        background-color: #3ccace;
      }

      &--todo-list {
        color: $font-black;
        height: 70px;
        line-height: 70px;
        font-size: 20px;
        font-weight: bold;
        background-color: #3ccace;
        text-align: center;
      }

      &--todo-index        { @include do-pur-column }
      &--purchase-history  { @include user-do-history }
      &--during-trading    {
        line-height: 40px;
        margin-top: 3px;
        color: $font-black;
        background-color: #77abc0;
        text-align: center;
      }
      &--purchase-item { @include do-pur-column }
    }
  }
}